/* Global - All components */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

/* .btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
} */

.center {
  text-align: center;
}

.right{
  text-align: right;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.active {
  font-weight: bold;
}


ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.clearfix{
  clear: both;
}

.cursor-pointer{
  cursor: pointer;
}

/* Global - All components */

/* Nav */

.nav {
  margin-bottom: 30px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav .nav-right{
  margin: auto;
  margin-right: 0;
}

.nav li {
  height: 35px;
  line-height: 50px;
}

.nav li:first-child {
  padding-left: 0;
}
/* Nav */

.avatar {
  height: 40px;
  border-radius: 25px;
  margin: 0 20px -10px 20px;
}

.validation-error{
  color: #f44242;
  text-align: center;
  margin: 15px;
}




.content-box{
  max-width: 800px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  padding: 0;
}

.content-box-header{
  background-color: #e6e6e6;
  border-bottom: 1px solid #cccccc;
  padding: 5px 20px;
}

.content-box-body{
  padding: 15px;
}

.content-box-question-left{
  float: left;
  width: 40%;
  padding: 5px;
  border-right: 1px solid #ccc;
}

.content-box-question-left.answered{
  margin-top:10px;
  margin-bottom:10px;
  padding-top: 135px;
  padding-bottom: 135px;
}

.content-box-question-right{
  float: right;
  width: 55%;
  padding: 5px;
  padding-left: 15px;
}


/* Question */
.question-author-avatar{
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 100px;
}

.question-details, .login-button{
  padding: 10px 100px;
  text-decoration: none;
  text-align: center;
  color: #34BCA7;
  font-size: 18px;
  border: 1px solid #34BCA7;
  border-radius: 5px;
  box-shadow: 2px #34BCA7;
  cursor: pointer;
}
.question-details:hover, .login-button:hover{
  color: #fff;
  background-color:  #34BCA7;
  border: none;
  box-shadow: 0;
  cursor: pointer;
}
/* Question */


/* Home */
.page-content{
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: auto;
  max-width: 820px;
}

.tabs{
  margin-bottom: 10px;
}

.tab{
  display: inline-block;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}

.tab.active{
  background-color: #e6e6e6;
  color: #34BCA7;
}

.questions{
  margin: 0 10px 10px;
}
/* Home */


/* QuestionAnswer */
.answer-option{
  margin: 10px 0;
}

.question-answer-submit{
  padding: 10px 100px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  background-color: #34BCA7;
  border: none;
  box-shadow: 0;
  cursor: pointer;
}
/* QuestionAnswer */


/* QuestionStats */
.stats-option{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 20px;
  margin-bottom: 10px;
  position: relative;
}

.stats-option.choosen{
  border: 2px solid #34bca7;
  background-color: #d7f4f0;
}
.stats-option.choosen .optionText{
  color: #21786b;
}
.stats-option progress{
  width: 100%;
  height: 30px;
  background-color: #d7f4f0;
  border-radius: 3px;
}
.yourChoiceIcon {
  position: absolute;
  top: -40px;
  right: -25px;
  color: #cccc00;
  font-size: 60px;
  font-weight: 600;
}

/* QuestionStats */


/* New Question */
.newQuestionOption{
  width: 100%;
  padding: 10px 10px;
  margin: 0 5px 0 0;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #8c8c8c;
}
/* New Question */


/* leaderBoard */
.leaderBoardMember{
  max-width: 750px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 30px;
  position: relative;
}
.leaderBoardAvatar{
  float: left;
  width: 30%;
  text-align: center;
  padding-top: 10px;
  padding-right: 15px;
}
.leaderBoardInfo{
  float: left;
  width: 40%;
  padding: 0 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.leaderBoardScore{
  float: left;
  width: 20%;
  padding-left: 15px;
}
.leaderBoardPlace{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
  max-width: 300px;
  padding: 3px;
  margin: auto;
}
.leaderBoardAvatar img{
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 100px;
  margin: auto;
}
.leaderBoardScoreSection{
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 14px;
}
.totalScore{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 40px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  background: #34bca7;
  margin: auto;
}

.leaderBoardPlace:nth-child(1){
  background-color: rgba(242,215,50,1);
}
.leaderBoardPlace:nth-child(3){
  background-color: rgba(160,160,160,0.7);
}
.leaderBoardPlace:nth-child(5){
  background-color: rgba(223,182,103,1);
}
/* leaderBoard */
